{
  "name": "{{ projectName }}",
  "version": "0.0.1",
  "description": "{{ projectDescription }}",
  "main": "index.js",
  "scripts": {
    "test": "npm run build && mocha",
    "build": "rm -rf dist && eleventy",
    "debug": "rm -rf dist && DEBUG=* eleventy",
    "serve": "eleventy --serve",
  },
  "author": "TODO: changeme",
  "license": "Apache 2.0",
  "devDependencies": {
    "@11ty/eleventy": "^1.0.1",
  }
}